<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portfolio</title>
</head>
<body class="home">
    <header>
        <h2>FREELANCE PORTFOLIO</h2>
        <label for="menu" class="btn-burger">
            <span>Menu</span> 
            <i class="fa-solid fa-bars-staggered"></i>
        </label>
        <input type="checkbox" id="menu">
        <nav id="nav-bar" class="nav-bar">
            <ul>
                <li><a href="">PORTFOLIO</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="section-intro">
            <figure>
                <img src="images/logo-user.jpeg" alt="logo-user">
            </figure>
            <div class="text-container">
                <h1>FREELANCE PORTFOLIO</h1>
                <div class="star-lines-container">
                    <span class="line"></span>
                    <i class="fa-solid fa-star star"></i>
                    <span class="line"></span>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing
                </p>
            </div>
        </section>

        <section class="section-portfolio">
            <h2>PORTFOLIO</h2>
            <div class="star-lines-container">
                <span class="line"></span>
                <i class="fa-solid fa-star star"></i>
                <span class="line"></span>
            </div>
            <section class="section-images">
                <figure>
                    <img src="./assets/images/casa.jpeg" alt="">
                </figure>
                <figure>
                    <img src="./assets/images/porcion.jpeg" alt="">
                </figure>
                <figure>
                    <img src="./assets/images/circo.jpeg" alt="">
                </figure>
                <figure>
                    <img src="./assets/images/joystick.jpeg" alt="">
                </figure>
                <figure>
                    <img src="./assets/images/caja-fuerte.jpeg" alt="">
                </figure>
                <figure>
                    <img src="./assets/images/submarino.jpeg" alt="">
                </figure>
            </section>
        </section>
        <section class="section-about">
            <h2>ABOUT</h2>
            <div class="star-lines-container">
                <span class="line"></span>
                <i class="fa-solid fa-star star"></i>
                <span class="line"></span>
            </div>
            <div class="paragraph-container">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro voluptate delectus animi rerum, impedit deserunt commodi consequatur. Eveniet aliquid nihil distinctio, dolore at necessitatibus tempore?</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit ea tenetur consequatur voluptatem, soluta harum voluptas, reiciendis officiis, illo minima nihil aliquam totam ut voluptatibus!</p>
            </div>
            <div class="btn-download">
                <i class="fa-solid fa-download download"></i>
                <p>Download Now!</p>
            </div>
        </section>
        <section class="section-contact">
            <h2>CONTACT ME</h2>
            <div class="star-lines-container">
                <span class="line"></span>
                <i class="fa-solid fa-star star"></i>
                <span class="line"></span>
            </div>

            <form action="">
                <div class="group-item">
                    <label for="name">Nombre</label>
                    <input type="text" name="name"  id="name">
                </div>
                <div class="group-item">
                    <label for="email">Email Address</label>
                    <input type="email" name="email"  id="email">
                </div>
                <div class="group-item">
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone"  id="phone">
                </div>
                <div class="group-item">
                    <label for="msg">Message</label>
                    <textarea type="text" name="msg"  id="msg"></textarea>
                </div>

                <button type="button" class="btn-send">
                    Submit
                </button>
            </form>
        </section>

    </main>
    <footer>
        <section class="section-location">
            <h2>LOCATION</h2>
            <p>Lorem ipsum dolor sit amet sit amet</p>
        </section>
        <section class="section-around">
            <h2>AROUND THE WEB</h2>
            <div class="social-container">
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-google-plus-g"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-spotify"></i>
            </div>
        </section>
        <section class="section-about">
            <h2>ABOUT FREELANCE</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing lorem, ipsum dolor <span>lorem, ipsum dolor</span><p>
        </section>
    </footer>
    <section class="section-copyright">
        <small>Lorem ipsum dolor ipsum dolor</small>
    </section>
</body>
</html>